{% extends "e-commerce/base.html" %}

{% block title %}Detalle de producto{% endblock %}

{% block content %}
{% load static %}
<div class="comic-grid">

    <div class="comic-item">
        <img src="{{comic_picture_full}}" alt="Not Found ...">
    </div>
    <div class="display-5 text-light">
        <h1>
            {{comic.title}}
        </h1>
        <div class="display-6 align-self-start m-3 p-1">
            <h2>
                {% if comic_desc == "#N/A" %}
                Descripción no disponible.
                {% else %}
                {{comic_desc}}
                {% endif %}
            </h2>
        </div>
        <div class="display-5 text-light-emphasis text-align-end m-3">
            Precio: U$S {{comic.price}}
        </div>
        <div id="grid-buttons">
            <div class="justify-content-md-center">

                <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}

                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="marvel_id" value="{{comic.marvel_id}}">
                    <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                    <input type="hidden" name="type_button" value="cart">
                    <input type="hidden" name="actual_value" value="{{cart}}">  
                    <input type="hidden" name="path" value="{% url 'detail' %}">  
                    
                    {% if cart %}
                    <input type="image" src="{% static 'e-commerce/img/cart-true.png' %}">
                    {% else %}
                    <input type="image" src="{% static 'e-commerce/img/cart-false.png' %}">
                    {% endif %}
                    
                </form>
                
            </div>
            <div class="justify-content-md-center">
                
                <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}
                    
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="marvel_id" value="{{comic.marvel_id}}">
                    <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                    <input type="hidden" name="type_button" value="favorite">
                    <input type="hidden" name="actual_value" value="{{favorite}}">  
                    <input type="hidden" name="path" value="{% url 'detail' %}">  
                    
                    {% if favorite %}
                        <input type="image" src="{% static 'e-commerce/img/favs-true.png' %}">
                    {% else %}
                        <input type="image" src="{% static 'e-commerce/img/favs-false.png' %}">
                    {% endif %}
                
                </form>
            </div>


        </div>

    </div>

</div>




{% endblock %}